h1 {
    display: inline-block;
}

body {
    margin: 0 2em;
}

.head {
    width: 60%;
    margin: 0 auto;

}

.head > div {
    width: 33%;
    vertical-align: middle;
    display: inline-block;
}

.head .button {
    text-align: center;
}

.head .button button {
    width: 33%;
}

.title-block {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.title-block .title {
    float: left;
    width: 15em;
}

.title-block .button { 
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

.title-block:hover .button {
    visibility: visible;
}

.head .title-block .button {
    visibility: visible;
}

.todoList .title {
    font-size: 17px;
    font-weight: 500;
}

.todoList .title-block {
    margin: 2px 0;
}

.editable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable:focus {
    white-space: normal;
}

.todoItem {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    position: relative;
}

.todoItem.hidden {
    display: none;
}

.todoItem > div {
    vertical-align: middle;
}

.todoItem .button {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.todoItem:hover {
    background: linear-gradient(to left, transparent, #EEE 20%, #EEE 80%, transparent);
}

.todoItem:hover .button {
    visibility: visible;
}

button {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color: #AAA;
    padding: 0 3px;
}

button:hover {
	color: #000;
}

.todoList {
	margin: 2em;
	display: inline-table;
}

.todoLists {
    margin: 0 auto;
    width: 90%;
}

.todoItemList {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 300px;
	width: 300px;
    max-width: 300px;
    overflow: auto;
    padding: 5px;
}

.displayItem {
    text-align: center;
}

.todoItem {
    display: inline-block;
}

.dueDate {
    display: inline-block;
    margin: 0 0.5em;
    width: 3em;
    text-align: center;
}

.dueDate.still-have-time {
    color: green;
}

.dueDate.coming {
    color: darkorange;
    font-weight: 500;
}

.dueDate.now {
    color: red;
    font-weight: 900;
}

.dueDate.done {
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}

.itemContent {
    display: inline-block;
    width: 13em;
    word-break: normal;
}

.itemContent.done {
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.5)
}

.fa {
    vertical-align: middle;
    display: inline-block;
}

.checkBox {
  width: 20px;
  margin: 3px auto;
  display: inline-block;
}
.checkBox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: #dfe5d7;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkBox label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkBox input[type=checkbox] {
  visibility: hidden;
}
.checkBox input[type=checkbox]:checked + label:after {
  opacity: 1;
}